Source: pam-aad
Maintainer: Matt Chesler <matt@chesler.org>
Section: admin
Priority: optional
Standards-Version: 4.5.1
Build-Depends:
 debhelper (>=9), libtool,
 libcurl4-openssl-dev, libjansson-dev, libpam0g-dev
Vcs-Git: https://github.com/mchesler/linuxaad.git
Vcs-Browser: https://github.com/mchesler/linuxaad
Homepage: https://github.com/mchesler/linuxaad

Package: pam-aad
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}, libpam-runtime (>= 1.0.1-6),
 libnss-aad (>= 1.0.0)
Description: Azure Active Directory PAM Module
 This PAM module provides Azure Active Directory authentication for Linux.
